# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
.venv

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Firebase service account key (not used now, but keep)
firebase-key.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.pot
*.pyc
local_settings.py